@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
}
.custom-shadowHeader {
  box-shadow: 0 9px 20px rgba(28, 68, 86, 0.2);
}

.navbar-sticky-nav {
  @apply bg-white_hsla backdrop-blur-70;
}

.paragraph-6{
font-family: Libre Baskerville;
font-size: 16px;
font-weight: 700;
line-height: 24px;

}
//footer
.footer-link {
  transform-origin: right;
  transition: transform .3s ease-in-out;
  border-bottom: 1px solid transparent; /* Initially transparent */
  text-decoration: none;
  margin: 16px 0px!important;
  position: relative;
  color: #1c4456;
  width:fit-content;
}

.footer-link:hover:after {
  transform: scaleX(1);
  transform-origin: left ;

}
.footer-link:after{
  content:"";
  height:100%;
  width:100%;
  transform: scaleX(0);
  transition: all .3s ease-in-out;
  border-bottom: 1px solid #417086; /* Corrected spelling of 'solid' */
  color: #417086;
  padding: 5px 0px;
  position: absolute;
  left:0;
  }
  .footer-link:hover {
  color:#417086!important;
  
  }